/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-image: image-url("vintage-concrete.png");
    padding: 20px;
}

.nav{
    float: right
}

h1{
    color: rgba(0,0,0,.6);
    margin: auto;
    width: 400px;
    text-align: center;
}

h2{
    color: rgba(0,0,0,.6);
}

.wrapper{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: rgba(0,0,0,.6);/*文字色*/
    /*background-image: image-url("ricepaper_v3.png");*/
    border: solid 2px rgba(0,0,0,.2);/*線*/
    /*box-shadow; solid 1px rgba(255,255,255,.3);*/
    border-radius: 10px;/*角の丸み*/
}

.box {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px rgba(0,0,0,.2);
}
.box .box-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-size: 17px;
    background: rgba(0,0,0,.2);
    color: rgba(0,0,0,.7);
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}
.box p {
    margin: 0; 
    padding: 0;
}